@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* 
font fmly
font-family: 'Merriweather', serif;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;

*/
/* genarel style */

* {

    margin: 0;
    padding: 0;

}

.container {


    width: 90%;
    max-width: 1220px;
    margin: 0 auto;

}


.highlight {

    color: #f00;
}




.banner {

    margin-top: 50px;
    background-image:linear-gradient(180deg,#070211 0%, rgba(7, 2, 17, 0.00)50%), url("./image/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 250px 0;

    border-radius: 10px 10px 10px 0;

}

.banner-text {
    text-align: center;
    font-family: 'Merriweather', serif;
background-color: #07021149;
    color: white;
   
   
    







}



.banner-text h1 {

    font-size: 54px;
    line-height: 60px;
}

.banner-text p {

    font-size: 25px;
    font-weight: 300;
}






/* banner end */
/* offer section */
.offer-section {


 
}


.offer-section-main {

    text-align: center;

}

.offer-text {

    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;

}

.offer-text h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.offer-text p {
    font-size: 18px;
    margin-bottom: 10px;
}

.offer-text h6 {

    font-size: 35px;
    font-weight: 600;
}

.offer-section-main img {

    width: 600px;

}

/* party section style */



.party-section {

    margin-top: 100px;
}

.party-section-main {

    display: flex;
    justify-content: space-between;
    background-image:  linear-gradient(90deg,#070211 0%, rgba(7, 2, 17, 0.00)100%),  url("./image/midnight.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:94px 94px 94px 94px ;
    align-items: center;


    border-radius: 10px 10px 10px 10px;


}

.year{


    width: 440px;
    height: 450px;
}
.year img {

width: 100%;

}

.party-section-text {

    color: white;
    font-family: 'Merriweather', serif;


}

.party-section-text h1 {

    color: #FFF;


    font-size: 48px;

    line-height: 70px;
    letter-spacing: 7px;

}

.party-section-text p {

    color: rgb(221, 212, 212);
    font-size: 15px;
    margin: 20px 0;
}

.party-section-text button {
    border-radius: 5px;
    border: 0;
    padding: 18px 40px;
    background-color: #f00;
    color: white;
    font-size: 20px;
    transition: 1s;
}

.party-section-text button:hover {
    background-color: #473d8a;

}


/* event dtails */

.event-details-main {}


.event-details-main {
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.212) 0%, rgba(255, 0, 0, 0.056) 100%);
    border-radius: 10px;

}

.event-details-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 100px 10px;

}




.event-details-text h1 {

    line-height: 60px;
    font-weight: 600;
}


.event-btn {
    font-size: 24px;
    border: 0;
    padding: 13px 16px;

    background-color: #f00;
    color: white;
    border-radius: 5px;
    transition: 1s;
    margin-top: 10px;
}

.event-btn:hover {
    background-color: #473d8a;
}

.next-party-section {

    margin-top: 100px;
}

.next-party {

    display: flex;
    align-items: center;
    gap: 40px;

}

.next-party-text-left {}

.next-party-text-left h4 {}

.next-party-text-left h1 {


    padding: 10px 0;
}

.next-party-text-left p {}

.common-p {


    color: rgb(98, 94, 94);
}

.next-party-img-middle {

    width: 320px;
    border: 15px solid #f00;
    padding: 20px;
    border-radius: 50%;
}

.next-party-img-middle img {

    width: 280px;

}

/* holiday section style */


.holiday-header{

    text-align: center;
    width: 800px;
    margin: 0 auto;

    margin-top: 100px;
}
.holiday-header h5 {
    font-family: 'Inter', sans-serif;
margin: 10px 0;

}
.holiday-header h1{

font-size: 50px;
    font-family: 'Merriweather', serif;
}
.holiday-header p{
margin-top: 10px;
    font-family: 'Inter', sans-serif;
}








.holiiday-main{

    display: flex;
justify-content: end;
align-items:end;
margin-top: 50px;
position: relative;

}

.holiiday-main{

    max-width: 100%;
}

.holiday-left img{

    height: 400px;
    max-width: 100%;
}

.holiday-right{


    position: relative;
    margin-bottom: -5px;
   
  
}
.holiday-left img{
max-width: 100%;
height: 700px;

}

.holiday-right img{
max-width: 100%;



}

.holiday-left{


}
.off {
    bottom: 214px;
    position: absolute;
    /* left: 142px; */
    right: 208px;
    /* top: 0; */
}


.holiday-middle{

    position: absolute;
    bottom: 0;
    left: 0;
}


.holiday-foter{


    background-image: url('./image/r9.png');
    background-size: cover;
     height: 300px;
     border-radius: 0 10px 10px 0;
   


}

.holiday-left{
 

   
}
.gift {
    position: absolute;
    bottom: -231px;
    left: -28px;
}


/* portfoloio section style */



.bonus-task{


width: 100%;
height: 99%;
border-radius: 12px;
background-color: #07021169;
position: absolute;
top: 0;
left: 0;
opacity: 0;
color: white;
text-align: center;
transition: 1s;


}
.bonus-text{


    margin-top: 150px;
  }


.bonus-task:hover{


opacity: 1;

}


.port-img{

    position: relative;
}




/* hover
 */

.portfolio-header {
    width: 50%;
    font-family: 'Merriweather', serif;

}





.portfolio-header h4 {}

.portfolio-header h1 {

    padding: 6px 0;
}

.protfolio-img {

    display: flex;

}
.port-img:hover{

 


}



/* .port-img:hover {
    border: 19px solid black;
    border-radius: 31px;
    box-shadow: 1px 16px 14px 1px;
    transition: 1s;

    opacity: 0.75;
    transition: 2s ease;
    width: 480px;
    box-shadow:  0px 5px 15px black;
    opacity: 1;
    
    
} */

.protfolio-img img {
    width: 320px;
    gap: 30px;



}

.portfolio-img-1 {

    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}

.port-img {

    width: 400px;
   
}

.port-img img {

    max-width: 100%;
    
}

.portfolio-img-2 {

    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}



.portfolio-section {

    margin-top: 100px;

}



/* news latter section */

.news-letter {
    background-color: rgba(255, 0, 0, 0.05);

    ;
    border-radius: 15px;
    margin-top: 100px;
}

.news-letter-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 80px 0;
}

.news-letter-text h1 {
    padding: 10px 0;
}

.news-letter-text {


    width: 550px;
    font-family: 'Merriweather', serif;
}

input {
    border: none;

    margin-top: 25px;

}

.email {

    border-radius: 50px 0px 0px 50px;
    padding: 14px 70px;
}

.submit {

    border-radius: 0 50px 50px 0;
    background-color: #f00;
    color: white;
    padding: 14px 50px;

}


/* footer section style */


footer {

    font-family: 'Inter', sans-serif;
    background-color: #070211;
    margin-top: 100px;

}

.contact {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 60px;
    color: white;
    line-height: 2em;
}

.footer-icon {

    text-align: center;




}

.footer-icon a {

    margin-right: 20px;

}

.footer-icon a img {

    width: 50px;
}

.line {


    border-top: 1px solid rgb(50, 48, 48);
    margin-bottom: 50px;
}

.line-2 {


    border-top: 1px solid rgb(50, 48, 48);
    margin-top: 30px;
}

.last-footer {


    display: flex;
    justify-content: space-between;
    color: white;
    padding-bottom: 60px;
}